.appContainer  {
    background-color: rgb(233, 233, 233);
    max-height: 100%;
}

.topbar {
    width: 100%;
    height: 50px;
    background-color: rgb(98, 236, 139);
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appContainer {
    display: flex;
}

.sidebar {
    flex: 1;
}

.others {
    flex: 4;
    max-height: auto;
}

/* Sidebar */
.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: white;
    position: sticky;
    top: 50px;
}

.sidebarWrapper {
    padding: 10px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 13px;
    text-align: center;
}

.sidebarList {
    list-style: none;
    padding: 0px;
}

.sidebarListItem {
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
}

.sidebarListItem:hover {
    background-color: rgb(209, 209, 209);
}

.sidebarIcon {
    margin: 0px 5px 0px;
    font-size: 20px !important;
}

/* Home.js */
.home {
    flex: 4;
    margin-top: 30px;
}

/* HomeView */
.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

.featuredTitle {
    font-size: 20px;
}

.featuredItem {
    background-color: white;
    text-align: center;
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  
}

.featuredItemContainer {
    text-align: center;
    
}

/* Signup */
.signupContainer {
    
    
}
/* UserProfile */
